.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: 1rem;

    .breadcrumb-item {
        margin-right: 1rem;

        &:not(:last-child)::after {
            content: ">";
            margin-left: 1rem;
            color: var(--neutral-500);
        }

        &.active {
            background-color: var(--primary-color);
            color: var(--background-color);
        }

        a {
            text-decoration: none;
            color: var(--color);
            transition: color 0.3s ease;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}